@*@model dynamic
*@

@model IEnumerable<ViewModel>

@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
		</div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Book
			</a>
		</div>
	</div>
    <br /><br />


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
			</th>
            <th>
                Author
            </th>
            <th></th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Genre
            </th>
            <th></th>
		</tr>
	</thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.book.Title
				</td>
                <td width="10%">
                    @obj.author?.Forename @obj.author?.Surname
                </td>
                <td width="10%">
                    <div class="w-75 btn-group" role="group">
			            <a asp-controller="Book" asp-action="AssignAuthor" asp-route-bookId="@obj.book.BookID"
                        class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Assign</a>
			            <a asp-controller="Book" asp-action="DeleteAuthorFromBook" asp-route-id="@obj.book.BookID"
                        class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
                <td width="5%">
                    @obj.book.Price
				</td>
                <td>
                    @obj.book.Description
                </td>
                <td width="10%">
                    @obj.genre?.GenreName
				</td>
                <td width="10%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@obj.book.BookID"
                        class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.book.BookID"
                        class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
				    </div>
				</td>
			</tr>
        }
    </tbody>

</table>

</div>

